$dark-theme: #202124;
$day-theme: #f5f5f5;

$link-color: #8ab4f8;

$font-color: #e8eaed;
$advanced-search-font-color: #d93025;
$info-font-color: #9aa0a6;

$search-btn-color: #303134;
$search-btn-border-color: #303134;

$bottm-info-color: #171717;

$search-icon-color: #9aa0a6;
$search-field-hover-color: #303134;

$border-color: #5f6368;
$advanced-search-border-color: #e4e5e6;





