$dark-theme: #202124;
$font-color: #e8eaed;
$search-btn-color: #303134;
$search-icon-color: #9aa0a6;
$search-field-hover-color: #303134;
$border-color: #5f6368;
$search-btn-border-color: #303134;
$bottm-info-color: #171717;
$link-color: #8ab4f8;
$info-font-color: #9aa0a6;